.tooltip--content {
  background-color: var(--color-background-subtle);
  border-radius: var(--border-radius);
  padding: 4px 8px;
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}
