@use './button';
@use './colors';
@use './icons';
@use './tooltip';
@use './variables';

.text--low-contrast {
  color: var(--color-low-contrast);
}

.template-default,
.template-default__wrap {
  display: flex;
  width: 100%;
}
